html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}
nav {
    background-color:rgb(8, 112, 223);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-left:200px;
    margin-right:200px;   
}
nav h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    text-decoration:none;
    color:white;
    padding:0.5em 3em;
    margin:0 3em;
}
header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:40px;
}
header h2 {
    margin-top:40px;
    margin-bottom:10px;
    color:aliceblue;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    position:relative;
    background-image: url('../imgs/hotel.jpg');
    background-size: cover;
    overflow: hidden;
    margin-left:200px;
    margin-right:200px; 
    flex: 1;    
}
main form, p {
    margin-left:40px;
}
footer {
    background-color:rgb(8, 112, 223);
    text-align: center;
    margin: 0;
    padding: 5px;
    height: 65px;
    margin-left:200px;
    margin-right:200px;
    position: relative;
    bottom: 0;
}
footer h3 {
    font-family: 'Georgia', serif;
    font-size: large;
    color: white;
    margin-top: 10px;
}
footer p {
    font-family: 'Georgia', serif;
    font-size: x-small;
    color: white;
    margin: 0;
}
.alert {
    margin-left:200px;
}